# Importing the relevant subgroups

In [22]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
from country_codes import eurostat_dictionary
import eurostat
import matplotlib.pyplot as plt


from warnings import filterwarnings
filterwarnings('ignore')
from sklearn import datasets
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_moons

EU_countries = ['Belgium', 'Bulgaria', 'Czechia', 'Denmark',
'Germany (until 1990 former territory of the FRG)', 'Germany','Estonia',
'Ireland', 'Greece', 'Spain', 'France', 'Croatia', 'Italy',
'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Malta',
'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania',
'Slovenia', 'Slovakia', 'Finland', 'Sweden', 'United Kingdom',
'Iceland', 'Liechtenstein', 'Norway', 'Switzerland',
'Bosnia and Herzegovina']

COUNTRY = "Netherlands"

# Percentage of youth at home

In [23]:
def youth_at_home(COUNTRY, SEX = None, AGE = None):
    df_n = eurostat.get_data_df('ilc_lvps08') # YOUNG PEOPLE LIVING AT HOME
    df_n.rename({'geo\TIME_PERIOD':'geo'},inplace=True,axis=1)
    df_n.drop(['unit', 'freq'],axis=1,inplace=True)
    df_n['country'] = df_n['geo'].replace(eurostat_dictionary)

    df_n.drop(['geo'],axis=1,inplace=True)

    df_n = df_n[df_n['country'] == COUNTRY]
    # df_n = df_n[df_n['sex'] == SEX]
    # df_n = df_n[df_n['age'] == AGE]
    # df_n.drop(['2003', '2004'],axis=1, inplace=True) # 'sex', 'age', 'country', 

    df_n.set_index(['sex', 'age', 'country'], inplace=True)
    return df_n

df = youth_at_home('Netherlands', SEX = None, AGE = None)
df

# make a multi-index containing the country, sex, and age category.

,,,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
sex,age,country,,,,,,,,,,,,,,,,,,,,
F,Y16-19,Netherlands,NaN,NaN,95.7,97.5,97.7,96.8,95.0,96.1,98.8,97.6,NaN,97.3,96.6,96.4,95.6,96.1,96.6,98.1,96.6,97.4
M,Y16-19,Netherlands,NaN,NaN,99.2,98.3,97.4,97.8,98.3,96.1,96.7,97.6,NaN,98.7,98.2,97.7,98.4,98.6,97.4,98.6,96.8,95.4
T,Y16-19,Netherlands,NaN,NaN,97.5,97.9,97.6,97.3,96.7,96.1,97.7,97.6,NaN,98.0,97.4,97.0,97.0,97.4,97.0,98.4,96.7,96.4
F,Y16-24,Netherlands,NaN,NaN,66.6,67.4,68.9,69.1,70.5,68.5,68.8,68.7,NaN,72.8,69.7,72.6,72.6,71.0,71.6,73.9,71.1,72.3
M,Y16-24,Netherlands,NaN,NaN,83.1,81.8,82.4,80.6,81.7,81.1,80.3,82.4,NaN,81.9,84.1,80.4,79.0,83.2,81.2,83.3,83.1,80.3
T,Y16-24,Netherlands,NaN,NaN,75.0,74.7,75.8,75.0,76.2,74.9,74.7,75.6,NaN,77.4,77.0,76.5,75.9,77.1,76.5,78.7,77.2,76.4
F,Y16-29,Netherlands,NaN,NaN,44.6,44.8,45.7,45.3,46.0,45.8,46.4,45.9,NaN,49.4,47.3,49.3,49.5,48.0,49.0,50.4,49.1,48.6
M,Y16-29,Netherlands,NaN,NaN,59.9,59.8,59.7,60.3,58.4,59.8,59.0,61.1,NaN,58.9,60.9,59.1,58.3,59.6,57.8,59.5,60.7,59.7
T,Y16-29,Netherlands,NaN,NaN,52.3,52.4,52.8,52.8,52.3,52.9,52.8,53.5,NaN,54.2,54.2,54.3,54.0,53.9,53.5,55.0,55.0,54.2
F,Y18-24,Netherlands,NaN,NaN,58.2,60.9,62.5,63.1,64.9,62.5,63.1,63.5,64.9,67.7,64.4,66.7,65.8,64.5,65.1,67.4,64.7,66.5
M,Y18-24,Netherlands,NaN,NaN,79.5,78.2,78.2,76.8,77.6,78.2,77.3,79.0,76.3,78.9,81.2,76.1,74.3,79.2,76.9,79.2,79.4,76.3
T,Y18-24,Netherlands,NaN,NaN,69.1,69.7,70.3,70.1,71.3,70.5,70.3,71.2,70.7,73.4,72.9,71.5,70.1,71.9,71.1,73.5,72.2,71.5
F,Y18-34,Netherlands,NaN,NaN,24.7,27.0,27.5,28.2,28.8,28.2,29.5,29.2,30.0,31.0,30.0,31.3,30.7,30.2,30.8,31.4,30.9,31.0
M,Y18-34,Netherlands,NaN,NaN,38.8,39.7,39.0,40.5,39.1,40.6,40.3,42.0,41.4,40.9,41.9,40.3,39.2,40.4,38.9,39.5,40.7,39.8
T,Y18-34,Netherlands,NaN,NaN,31.9,33.4,33.3,34.4,34.0,34.4,34.9,35.6,35.7,36.0,36.0,35.9,35.0,35.3,34.9,35.5,35.8,35.5
F,Y20-24,Netherlands,NaN,NaN,46.9,46.3,49.2,49.6,53.2,49.9,49.5,50.8,53.9,57.2,52.2,56.4,55.8,52.5,53.9,56.3,52.8,56.2
M,Y20-24,Netherlands,NaN,NaN,71.4,70.1,71.3,68.6,69.1,70.4,69.3,72.0,67.5,71.0,75.3,68.9,65.3,70.9,69.0,72.2,73.2,70.0
T,Y20-24,Netherlands,NaN,NaN,59.1,58.4,60.2,59.2,61.1,60.2,59.5,61.3,60.6,64.2,64.0,62.8,60.7,61.6,61.5,64.4,63.1,63.1
F,Y20-29,Netherlands,NaN,NaN,27.5,27.1,28.2,27.3,29.0,28.7,29.5,29.8,32.0,34.1,31.3,33.4,33.1,30.9,32.5,33.6,32.4,33.0
M,Y20-29,Netherlands,NaN,NaN,45.7,46.2,46.1,46.8,43.7,46.6,46.3,48.6,46.4,46.0,49.2,46.2,44.4,45.0,43.3,45.5,47.9,47.5
T,Y20-29,Netherlands,NaN,NaN,36.6,36.7,37.2,37.1,36.4,37.7,38.0,39.2,39.2,40.1,40.4,39.9,38.8,38.0,38.0,39.7,40.2,40.2
F,Y25-29,Netherlands,NaN,NaN,8.4,9.2,8.2,5.5,5.5,6.8,9.4,8.6,8.7,10.4,10.2,10.3,11.7,10.3,12.4,12.5,13.0,10.2
M,Y25-29,Netherlands,NaN,NaN,20.7,22.5,22.2,24.2,19.8,21.9,23.2,25.3,25.3,20.5,22.6,23.5,24.3,22.3,19.0,19.9,23.2,24.5
T,Y25-29,Netherlands,NaN,NaN,14.6,15.7,15.2,14.7,12.7,14.4,16.4,16.9,17.1,15.5,16.5,17.0,18.1,16.5,15.7,16.2,18.1,17.3
F,Y25-34,Netherlands,NaN,NaN,4.7,5.5,4.8,3.8,3.9,3.8,5.8,4.9,4.9,5.5,5.9,6.2,7.3,6.7,7.9,7.8,8.0,7.1
M,Y25-34,Netherlands,NaN,NaN,13.3,14.3,13.5,14.9,12.5,12.4,13.5,16.1,16.0,13.5,13.8,15.0,15.3,14.4,12.6,12.5,14.2,14.7
T,Y25-34,Netherlands,NaN,NaN,9.0,9.9,9.1,9.4,8.2,8.0,9.7,10.6,10.5,9.5,9.9,10.6,11.4,10.6,10.2,10.2,11.2,10.9

# Importing revelant variables
Naast de krapte op de woningmarkt en de hoge huren zijn voor studerende jongeren ook studieschulden een belangrijke reden om thuis te blijven wonen, merkt Ellen Donkers. 'Om minder schuld op te bouwen kiezen sommige jongeren ervoor om bij hun ouders te blijven wonen. Dat verklaart ook dat steeds meer jongeren pas het huis uit gaan als ze een stabiel inkomen uit werk hebben.'

Bron: CBS

### Student Loans

In [25]:
# import revelant variables from eurostat database

def download_oecd_data(data_code): # 'nama_10_pc'
    df_n = eurostat.get_data_df(data_code)
    df_n.rename({'geo\TIME_PERIOD':'geo'},inplace=True,axis=1)
    df_n['country'] = df_n['geo'].replace(eurostat_dictionary)
    # drop columns that contain all nan values
    # Dropping columns with all NaN values
    df_n.dropna(axis=1, how='all', inplace=True)
    df_n = pd.melt(df_n,id_vars=['country','unit'],
                        value_vars= df_n.columns[4:-1],
                        var_name='year',
                        value_name='gdp')

    # merged_df = df.merge(df_n, on=['country', 'year'], how='left') 
    return df_n

# Importing the GDP per capita

In [26]:

df_n = download_oecd_data('nama_10_pc')
df_n

               country                      unit  year    gdp
0              Albania             CLV10_EUR_HAB  1975    NaN
1              Austria             CLV10_EUR_HAB  1975    NaN
2              Belgium             CLV10_EUR_HAB  1975    NaN
3             Bulgaria             CLV10_EUR_HAB  1975    NaN
4          Switzerland             CLV10_EUR_HAB  1975    NaN
...                ...                       ...   ...    ...
166603          Sweden  PC_EU27_2020_HAB_MPPS_CP  2022  112.2
166604        Slovenia  PC_EU27_2020_HAB_MPPS_CP  2022   89.5
166605        Slovakia  PC_EU27_2020_HAB_MPPS_CP  2022   74.2
166606          Turkey  PC_EU27_2020_HAB_MPPS_CP  2022   67.5
166607  United Kingdom  PC_EU27_2020_HAB_MPPS_CP  2022    NaN

[166608 rows x 4 columns]

# Unemployment rates by sex, age and citizenship (%)

In [28]:
df_n = eurostat.get_data_df('lfsa_urgan') 
df_n.rename({'geo\TIME_PERIOD':'geo'},inplace=True,axis=1)

df_n['country'] = df_n['geo'].replace(eurostat_dictionary)
df_n = df_n[df_n['country'] == COUNTRY]
df_n.drop(['geo'],axis=1,inplace=True)
df_n.head()

,freq,unit,sex,age,citizen,1995,1996,1997,1998,1999,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,country
26,A,PC,F,Y15-19,EU27_2020_FOR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.7,25.3,Netherlands
62,A,PC,F,Y15-19,FOR,NaN,NaN,NaN,NaN,28.7,...,28.9,28.5,21.0,NaN,NaN,14.7,25.6,40.2,25.6,Netherlands
98,A,PC,F,Y15-19,NAT,NaN,NaN,NaN,NaN,13.6,...,15.3,14.3,13.0,10.9,8.6,7.2,10.3,11.7,10.6,Netherlands
134,A,PC,F,Y15-19,NEU27_2020_FOR,NaN,NaN,NaN,NaN,31.7,...,NaN,30.6,NaN,NaN,NaN,NaN,28.7,31.2,NaN,Netherlands
165,A,PC,F,Y15-19,NRP,18.8,18.8,15.9,16.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands

In [30]:
df_n['citizen'].unique()

array(['EU27_2020_FOR', 'FOR', 'NAT', 'NEU27_2020_FOR', 'NRP', 'STLS',
       'TOTAL'], dtype=object)

In [29]:
df_n['age'].unique()

array(['Y15-19', 'Y15-24', 'Y15-29', 'Y15-39', 'Y15-59', 'Y15-64',
       'Y15-74', 'Y20-24', 'Y20-29', 'Y20-64', 'Y25-29', 'Y25-49',
       'Y25-54', 'Y25-59', 'Y25-64', 'Y25-74', 'Y30-34', 'Y35-39',
       'Y40-44', 'Y40-59', 'Y40-64', 'Y45-49', 'Y50-54', 'Y50-59',
       'Y50-64', 'Y50-74', 'Y55-59', 'Y55-64', 'Y60-64', 'Y65-69',
       'Y65-74', 'Y70-74'], dtype=object)

# Long-term Youth Unemployment

In [31]:

def long_term_youth_unemployment(COUNTRY, SEX = None):
    df_n = eurostat.get_data_df('yth_empl_130') # Long-term youth unemployment
    df_n.rename({'geo\TIME_PERIOD':'geo'},inplace=True,axis=1)
    df_n.drop(['unit', 'freq'],axis=1,inplace=True)
    df_n['country'] = df_n['geo'].replace(eurostat_dictionary)
    df_n.drop(['geo'],axis=1,inplace=True)


    df_n = df_n[df_n['country'] == COUNTRY]
    # df_n = df_n[df_n['sex'] == SEX]

    df_n.set_index(['sex', 'age', 'country'], inplace=True)

    return df_n

df_n = long_term_youth_unemployment('Netherlands')
df_n

,,,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
sex,age,country,,,,,,,,,,,,,,,,,,,,,
F,Y15-29,Netherlands,1.3,0.6,0.5,0.3,0.6,1.0,2.1,1.7,1.1,0.8,...,1.8,2.2,1.8,1.4,1.1,0.6,0.5,0.6,0.5,0.2
M,Y15-29,Netherlands,1.1,0.3,0.2,0.3,0.7,1.0,1.9,1.5,0.9,0.8,...,2.3,2.4,2.2,1.8,1.1,0.8,0.7,0.9,0.5,0.4
T,Y15-29,Netherlands,1.2,0.4,0.3,0.3,0.7,1.0,2.0,1.6,1.0,0.8,...,2.1,2.3,2.0,1.6,1.1,0.7,0.6,0.7,0.5,0.3

# Mobile students from abroad enrolled by education level, sex and country of origin

In [36]:
def mobile_students_from_abroad(COUNTRY):
    df_n = eurostat.get_data_df('educ_uoe_mobs02')
    df_n.rename({'geo\TIME_PERIOD':'geo'},inplace=True,axis=1)
    df_n.drop(['unit', 'freq'],axis=1,inplace=True)
    df_n['country'] = df_n['geo'].replace(eurostat_dictionary)
    df_n.drop(['geo'],axis=1,inplace=True)

    df_n = df_n[df_n['country'] == COUNTRY]
   
    # df_n = df_n[df_n['isced11'] == 'ED6' or  df_n['isced11'] == 'ED7']
    # df_n = df_n[(df_n['isced11'] == 'ED6') | (df_n['isced11'] == 'ED7')]

    
    df_n.set_index(['sex', 'country', 'partner', 'isced11'], inplace=True)
    return df_n

df_n = mobile_students_from_abroad('Netherlands')
df_n

                                 2012  2013  2014  2015  2016  2017  2018  \
sex country     partner isced11
F   Netherlands AD      ED5       NaN   0.0   0.0   0.0   0.0   NaN   NaN
                        ED5-8     NaN   1.0   1.0   1.0   0.0   NaN   NaN
                        ED6       NaN   1.0   1.0   1.0   0.0   0.0   0.0
                        ED7       NaN   0.0   0.0   0.0   0.0   1.0   0.0
                        ED8       NaN   0.0   0.0   0.0   0.0   0.0   0.0
...                               ...   ...   ...   ...   ...   ...   ...
T   Netherlands ZW      ED5       NaN   0.0   0.0   0.0   0.0   NaN   NaN
                        ED5-8     NaN  64.0  40.0  36.0  45.0   NaN   NaN
                        ED6       NaN  26.0  17.0  19.0  31.0  41.0  62.0
                        ED7       NaN  35.0  21.0  15.0   7.0  12.0  19.0
                        ED8       NaN   3.0   2.0   2.0   7.0   7.0   7.0

                                  2019   2020   2021
sex country     partner isced11
F   Netherlands AD      ED5        0.0    0.0    NaN
                        ED5-8      0.0    0.0    NaN
                        ED6        0.0    0.0    0.0
                        ED7        0.0    0.0    0.0
                        ED8        0.0    0.0    0.0
...                                ...    ...    ...
T   Netherlands ZW      ED5        0.0    0.0    NaN
                        ED5-8    108.0  128.0    NaN
                        ED6       75.0  100.0  122.0
                        ED7       26.0   21.0   23.0
                        ED8        7.0    7.0    7.0

[3420 rows x 10 columns]

In [49]:

 
def students_from_abroad_by_level_and_field(COUNTRY):
    df_n = eurostat.get_data_df('educ_momo_fld')
    df_n.rename({'geo\TIME_PERIOD':'geo'},inplace=True,axis=1)
    # df_n.drop(['unit', 'freq'],axis=1,inplace=True)
    df_n['country'] = df_n['geo'].replace(eurostat_dictionary)
    df_n.drop(['geo'],axis=1,inplace=True)

    # Inward mobile students as percentage of student population in the host country (%)

    df_n = df_n[df_n['country'] == COUNTRY]
    df_n = df_n[df_n['field'] == 'TOTAL']
    df_n = df_n[df_n['indic_ed'] == 'MS01_2P']
    
    return df_n

df_n = students_from_abroad_by_level_and_field('Netherlands')
print("Inward mobile students as percentage of student population in the host country (%)")
df_n

Inward mobile students as percentage of student population in the host country (%)

     freq isced97  field indic_ed  2008  2009  2010   2011   2012      country
1653    A     ED5  TOTAL  MS01_2P  5.05  3.88  4.35   4.47    NaN  Netherlands
3317    A    ED5A  TOTAL  MS01_2P  5.05  3.88  4.36   4.57   6.87  Netherlands
4772    A    ED5B  TOTAL  MS01_2P   NaN   NaN  0.34   0.06   0.11  Netherlands
6435    A   ED5_6  TOTAL  MS01_2P  4.99  3.83  4.30   4.92   7.25  Netherlands
7967    A     ED6  TOTAL  MS01_2P   NaN   NaN   NaN  36.06  39.28  Netherlands

# Students enrolled in tertiary education by education level, programme orientation, sex and age

In [34]:

df_n = eurostat.get_data_df('educ_uoe_enrt02')
df_n.rename({'geo\TIME_PERIOD':'geo'},inplace=True,axis=1)
df_n.drop(['unit', 'freq'],axis=1,inplace=True)
df_n['country'] = df_n['geo'].replace(eurostat_dictionary)
df_n.drop(['geo'],axis=1,inplace=True)


df_n = df_n[df_n['country'] == COUNTRY]
# df_n = df_n[df_n['sex'] == SEX]

df_n.set_index(['sex', 'age', 'country'], inplace=True)
df_n

                       isced11  2012      2013      2014      2015      2016  \
sex age    country
F   TOTAL  Netherlands     ED5   NaN    2316.0    2850.0   10604.0   11496.0
           Netherlands   ED5-8   NaN  347666.0  360540.0  440744.0  434637.0
           Netherlands    ED54   NaN       NaN       NaN       NaN       NaN
           Netherlands    ED55   NaN    2316.0    2850.0   10604.0   11496.0
           Netherlands     ED6   NaN  285730.0  294866.0  335802.0  328138.0
...                        ...   ...       ...       ...       ...       ...
T   Y_LT15 Netherlands    ED65   NaN       NaN       NaN       NaN       NaN
           Netherlands     ED7   NaN       0.0       0.0       0.0       0.0
           Netherlands    ED74   NaN       NaN       NaN       NaN       NaN
           Netherlands    ED75   NaN       NaN       NaN       NaN       NaN
           Netherlands     ED8   NaN       0.0       0.0       0.0       0.0

                            2017      2018      2019      2020      2021
sex age    country
F   TOTAL  Netherlands   13021.0   13677.0   13587.0   16741.0   18401.0
           Netherlands  457757.0  463184.0  476034.0  493008.0  523188.0
           Netherlands       NaN       NaN       NaN       NaN       NaN
           Netherlands   13021.0   13677.0   13587.0   16741.0   18401.0
           Netherlands  339801.0  343909.0  354980.0  361860.0  384205.0
...                          ...       ...       ...       ...       ...
T   Y_LT15 Netherlands       NaN       NaN       0.0       0.0       0.0
           Netherlands       0.0       0.0       0.0       0.0       0.0
           Netherlands       NaN       NaN       0.0       0.0       0.0
           Netherlands       NaN       NaN       0.0       0.0       0.0
           Netherlands       0.0       0.0       0.0       0.0       0.0

[1584 rows x 11 columns]

In [46]:
# Share of young adults aged 18-34 living with their parents by self-defined current economic status - EU-SILC survey (

In [48]:
# Employed persons working full-time
# [EMP_FT]
# Employed persons working part-time
# [EMP_PT]
# Unemployed persons
# [UNE]
# Students
# [EDUC]
# Other persons outside the labour force (former name: inactive persons)
# [INAC_OTH]

# Share of young adults aged 18-34 living with their parents by self-defined current economic status - EU-SILC survey (
df_n = eurostat.get_data_df('ilc_lvps09')
df_n.rename({'geo\TIME_PERIOD':'geo'},inplace=True,axis=1)
df_n.drop(['unit', 'freq'],axis=1,inplace=True)
df_n['country'] = df_n['geo'].replace(eurostat_dictionary)
df_n.drop(['geo'],axis=1,inplace=True)

df_n = df_n[df_n['country'] == COUNTRY]
# df_n = df_n[df_n['sex'] == SEX]
# df_n.set_index(['sex', 'age', 'country'], inplace=True)
df_n

,wstatus,age,2003,2004,2005,2006,2007,2008,2009,2010,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,country
33,EDUC,Y18-24,NaN,NaN,46.4,48.9,51.4,54.5,53.5,54.6,...,55.9,54.7,61.6,62.2,64.4,63.8,61.8,66.6,63.8,Netherlands
78,EDUC,Y18-34,NaN,NaN,39.9,41.5,44.4,47.7,47.3,49.0,...,49.8,47.8,53.4,53.7,56.5,55.6,53.7,57.3,54.1,Netherlands
123,EDUC,Y25-34,NaN,NaN,9.4,7.9,8.9,11.7,10.2,13.3,...,16.3,11.4,14.2,18.2,18.5,15.6,14.1,15.2,10.0,Netherlands
168,EMP_FT,Y18-24,NaN,NaN,30.0,29.3,28.4,26.5,26.1,23.7,...,16.8,19.9,15.6,17.7,13.9,16.6,15.5,18.0,19.5,Netherlands
213,EMP_FT,Y18-34,NaN,NaN,37.0,36.9,35.1,32.8,30.9,28.5,...,20.9,23.6,20.7,23.7,19.6,21.3,19.7,25.0,27.6,Netherlands
258,EMP_FT,Y25-34,NaN,NaN,70.0,71.6,68.7,66.3,60.1,59.3,...,43.6,43.0,44.7,48.6,46.6,43.7,40.6,56.2,63.9,Netherlands
303,EMP_PT,Y18-24,NaN,NaN,14.7,17.9,16.5,14.4,15.2,14.5,...,18.3,16.2,15.5,15.1,16.9,14.6,17.0,10.9,11.5,Netherlands
348,EMP_PT,Y18-34,NaN,NaN,14.1,16.9,16.2,14.6,16.3,14.6,...,18.4,16.4,16.4,16.6,18.6,16.5,19.9,11.6,12.1,Netherlands
393,EMP_PT,Y25-34,NaN,NaN,11.4,12.6,14.6,15.7,22.9,15.4,...,18.7,17.3,20.7,22.9,26.5,25.5,34.1,14.7,14.9,Netherlands
438,INAC_OTH,Y18-24,NaN,NaN,4.1,1.9,2.1,3.0,2.6,2.6,...,4.5,3.6,3.2,2.7,2.6,2.8,2.9,2.1,2.6,Netherlands
483,INAC_OTH,Y18-34,NaN,NaN,4.4,2.4,2.2,3.2,2.9,2.7,...,5.5,5.1,3.6,3.3,2.8,3.5,3.5,2.9,3.2,Netherlands
528,INAC_OTH,Y25-34,NaN,NaN,5.6,4.7,3.1,4.1,4.3,3.6,...,10.9,13.0,5.7,5.7,3.8,6.7,6.2,6.4,6.0,Netherlands
573,UNE,Y18-24,NaN,NaN,4.8,2.0,1.6,1.7,2.6,4.7,...,4.6,5.5,4.2,2.3,2.2,2.1,2.8,2.3,2.5,Netherlands
618,UNE,Y18-34,NaN,NaN,4.6,2.2,2.1,1.8,2.6,5.2,...,5.5,7.0,6.0,2.7,2.6,3.2,3.2,3.2,3.0,Netherlands
663,UNE,Y25-34,NaN,NaN,3.8,3.2,4.7,2.1,2.5,8.4,...,10.6,15.3,14.6,4.6,4.6,8.4,5.0,7.4,5.3,Netherlands

# yth_demo_030: Estimated avrage age of young people leaving the parental household by sex

In [53]:
df_n = eurostat.get_data_df('yth_demo_030')
df_n.rename({'geo\TIME_PERIOD':'geo'},inplace=True,axis=1)
df_n.drop(['unit', 'freq'],axis=1,inplace=True)
df_n['country'] = df_n['geo'].replace(eurostat_dictionary)
df_n.drop(['geo'],axis=1,inplace=True)

df_n = df_n[df_n['country'] == COUNTRY]
df_n

,sex,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,country
24,F,21.9,22.2,22.4,22.4,22.3,22.1,22.2,22.3,22.3,...,22.8,22.9,22.8,22.9,23.0,23.0,23.6,22.6,22.4,Netherlands
59,M,24.1,24.5,24.6,24.6,24.6,24.4,24.5,24.4,24.4,...,24.5,24.5,24.5,24.3,24.4,24.4,24.9,23.8,23.5,Netherlands
94,T,23.1,23.4,23.5,23.5,23.5,23.3,23.4,23.4,23.3,...,23.6,23.7,23.7,23.6,23.7,23.7,24.3,23.2,23.0,Netherlands